# Please Sir, I can't actually figure out why I have no errors but my code output is entirely different from whats in the option. Could it possibly mean that I downloaded the wrong dataset or ......

 ## Please, I need a feedback because this actually affected my quiz score, thus, wasting my efforts. Thanks

# My Email; Oruchistephen@gmail.com

In [1]:
# importing the required libaries

import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("energydata_complete.csv")
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

columns_new = {T1, Temperature in kitchen area, in Celsius
RH_1, Humidity in kitchen area, in %
T2, Temperature in living room area, in Celsius
RH_2, Humidity in living room area, in %
T3, Temperature in laundry room area
RH_3, Humidity in laundry room area, in %
T4, Temperature in office room, in Celsius
RH_4, Humidity in office room, in %
T5, Temperature in bathroom, in Celsius
RH_5, Humidity in bathroom, in %
T6, Temperature outside the building (north side), in Celsius
RH_6, Humidity outside the building (north side), in %
T7, Temperature in ironing room , in Celsius
RH_7, Humidity in ironing room, in %
T8, Temperature in teenager room 2, in Celsius
RH_8, Humidity in teenager room 2, in %
'T9':'Temperature_in_parents_room','RH_9':'Humidity_in_parents_room'
'To':'Temperature_outside',Pressure,'RH_out':'Humidity_outside',Wind speed,
Visibility, Tdewpoint 'rv1':'Random variable 1' 'rv2':'Random variable 2'}

In [3]:
# Checking for data types
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [4]:
# describing the data
data.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [5]:
#checking for non entries
data.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
# checking for duplicates
data.duplicated().sum()

0

# might not be needing the random variables

new_data = data.drop(columns=["rv1", "rv2"])
new_data.tail()

In [7]:
# question 12
from sklearn.metrics import r2_score

r2e = r2_score(data["T2"], data["T6"])

print(round(r2e, 2))

-35.39

In [8]:
# question 13
data_new = data.drop(columns=["date", "lights"])
#data_new.head()

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

normalised_data = pd.DataFrame(scaler.fit_transform(data_new), columns=data_new.columns)
features = data_new.drop(columns=['Appliances'])
target = data_new['Appliances']


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.3, random_state=42)
linear_model1 = LinearRegression()

linear_model1.fit(x_train, y_train)

predicted_values = linear_model1.predict(x_test)

In [9]:
# questions 13, 14, 15, 16

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, predicted_values)
rmse= np.sqrt(mean_squared_error(y_test, predicted_values))
rss = np.sum(np.square(y_test - predicted_values))
r2e = r2_score(y_test, predicted_values)

print(round(mae, 2))
print(round(rss, 2))
print(round(rmse, 3))
print(round(r2e, 2))

53.64
51918501.21
93.64
0.15

In [10]:
 # question 17
    
def get_weights_df(model, fit, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, fit.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

Weights = get_weights_df(linear_model1, x_train, 'Linear_Model_Weight')

Weights

       Features  Linear_Model_Weight
0            T9           -21.148452
1            T2           -18.370030
2          RH_2           -13.740748
3         T_out           -11.073628
4          RH_8            -5.778861
5          RH_9            -1.762680
6          RH_7            -1.692787
7            T5            -1.600843
8        RH_out            -1.093521
9            T1            -0.370721
10          rv2             0.016483
11          rv1             0.016483
12  Press_mm_hg             0.170188
13   Visibility             0.202586
14         RH_5             0.257511
15         RH_6             0.411649
16           T7             1.040631
17         RH_4             1.204984
18    Windspeed             2.230425
19           T4             2.793664
20         RH_3             4.803162
21    Tdewpoint             5.701393
22           T6             7.363547
23           T8             9.990970
24         RH_1            16.300198
25           T3            25.836743

In [11]:
#qestion 18

from sklearn.linear_model import Ridge

ridge_reg = Ridge(alpha=.4)
ridge_reg.fit(x_train, y_train)

predicted_v = ridge_reg.predict(x_test)
from sklearn.metrics import mean_absolute_error

mae1 = mean_absolute_error(y_test, predicted_v)
print(round(mae1, 2))

53.64

In [12]:
# question 19
from sklearn.linear_model import Lasso

lasso_reg = Lasso(alpha=.001)
lasso_reg.fit(x_train, y_train)

def get_weights_df(model, fit, col_name):
#this function returns the weight of every feature
    weights = pd.Series(model.coef_, fit.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

Weights = get_weights_df(lasso_reg, x_train, 'Linear_Model_Weight')

Weights

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.136e+06, tolerance: 1.464e+04
  model = cd_fast.enet_coordinate_descent(

       Features  Linear_Model_Weight
0            T9        -2.113836e+01
1            T2        -1.836318e+01
2          RH_2        -1.373723e+01
3         T_out        -1.105957e+01
4          RH_8        -5.778977e+00
5          RH_9        -1.762338e+00
6          RH_7        -1.691936e+00
7            T5        -1.601612e+00
8        RH_out        -1.091186e+00
9            T1        -3.665146e-01
10          rv2         5.951180e-17
11          rv1         3.295809e-02
12  Press_mm_hg         1.702056e-01
13   Visibility         2.025350e-01
14         RH_5         2.575373e-01
15         RH_6         4.114501e-01
16           T7         1.034389e+00
17         RH_4         1.202900e+00
18    Windspeed         2.230566e+00
19           T4         2.788718e+00
20         RH_3         4.802045e+00
21    Tdewpoint         5.688957e+00
22           T6         7.360327e+00
23           T8         9.988261e+00
24         RH_1         1.629967e+01
25           T3         2.583110e+01

In [13]:
# question 20

from sklearn.metrics import mean_squared_error

predicted = lasso_reg.predict(x_test)
rmse= np.sqrt(mean_squared_error(y_test, predicted))

print(round(rmse, 3))

93.64

# Please Sir, I can't actually figure out why I have no errors but my code output is entirely different from whats in the option. Could it possibly mean that I downloaded the wrong dataset or ......

# Please, I need a feedback because this actually affected my quiz score, thus, wasting my efforts. Thanks

# My Email; Oruchistephen@gmail.com